:root {
    --background-color: #00008b;
    --heading-text-color: #00008b;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-text-color);
    font-family: var(--heading-font);
}

main {
    max-width: 840px;
    padding: var(--padding);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: .2rem;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1.5rem 1rem;
}

main ul {
    clear: both;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 18rem;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 50px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1.4rem;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: lavender;
    color: purple;
}