:root {
    --background-color: #4682b4;
    --heading-text-color: #4682b4;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


/* Nav */
nav {
    background-color: var(--background-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: white;
    padding: .4rem;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
}

/* Headings */
h1 {
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    border-bottom: 2px solid steelblue;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}


.grid {
    display: grid;
    align-items: center;
}

/* Main */
main {
    padding: var(--padding);
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: .2rem;
    box-shadow: 0 0 30px gray;
    margin: 0 0 1.5rem 1rem;
}

main ul {
    clear: both;
}

p {
    padding: 0;
}

/* Aside */
aside {
    position: relative;
    width: 18rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 20px;
    left: 50px;
}

aside img {
    width: 200px;
    height: auto;
}


/* Footer */
footer {
    margin-top: 1.4rem;
    border-top: var(--border);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border);
    padding: var(--padding);
    background-color: lavender;
    color: purple;
}

